


/* Nav */

.navbar {
  width: 100%;
  text-align: center;
  background-color: #5551FF;
}


/* wrapper */

.wrapper {
  background-color: #1BB6F6;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

/* Hero */

.hero {
  width: 100%;
  text-align: center;
  background-color: #28A958;
  height: 50%
}

/* Images */

.images {
  max-width: 200px;
  margin: 20px;
  height: 250px;
  box-shadow: gray 4px 4px;
}

.img-container :hover {
  cursor: pointer;
  border: gray 2px solid;
}
